{% extends "base.html" %} {% block title %}Add Salary Record{% endblock %} {% block content
%}
<head>
</head>

<form name="myForm" method="POST" onsubmit="return validateForm(this)"> 
  <h3 align="center">Add Salary Record</h3>
  <table class = "table-hover table-striped table-bordered" align="center">
    <tr>
      <td>
        <label for="String" >Key in Worker Name</label>
        <input type="String" class="form-control" id="wname" name="wname" placeholder="Key in worker name"/>
        <label for="String">Key in Project</label>
        <input type="String" class="form-control" id="projectlocation" name="projectlocation" placeholder="Key in project title" />
        <label for="String">Key in  Salary Month and Year</label>
        <input type="String" class="form-control" id="salarydate" name="salarydate" placeholder="Default month and year" readonly />
        <label for="String">Key in Day Rate</label>
        <input type="Number" class="form-control" id="dayrate" name="dayrate" placeholder="Key in rate per day" />
      </td>
       <td> 
        <label for="String">Or Select Worker Name</label>
        <select class="form-select form-control" aria-label="Default select example" id ="workernamedropdown" onchange="wnamedropdownSelected()"> 
          <option selected>Select worker name here</option>
          {% for workername in dbworkernamelist %}
          <option value="{{ workername }}">{{ workername }}</option>
          {% endfor %}
        </select>
        <label for="String">Or Select Project</label>
        <select class="form-select form-control" aria-label="Default select example" id = "projectdropdown" onchange="projectdropdownSelected()">
          <option selected>Select project title here</option>
          {% for projectlist in dbprojectlist %}
          <option value="{{ projectlist }}">{{ projectlist }}</option>
          {% endfor %}
        </select>
        <label for="String">OR Select Salary Month and Year</label>
        <select class="form-select form-control" aria-label="Default select example" id="salarydatedropdown" onchange="salarydatedropdownSelected()">
          <option selected>Select month/year here</option>
          {% for salarydate in salarydateforcurrentyearonly %}
          <option value="{{ salarydate }}">{{ salarydate }}</option>          
          {% endfor %}
        </select>
        <br>
        <br>
        <br>
                            
       </td>
    </tr>
      <tr>
        <th><label for="String">Salary Hours</label></th>
      </tr>
      <tr>
        <td align="center"><label for="String" >Day 1</label></td>
        <td><input type="number" id="d1" name="d1" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center"><label for="String">Day 2</label></td>
        <td><input type="number" id="d2" name="d2" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center"><label for="String">Day 3</label></td>
        <td><input type="number" id="d3" name="d3" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center"><label for="String">Day 4</label></td>
        <td><input type="number" id="d4" name="d4" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 5</label></td>
        <td><input type="number" id="d5" name="d5" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 6</label></td>
        <td><input type="number" id="d6" name="d6" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 7</label></td>
        <td><input type="number" id="d7" name="d7" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 8</label></td>
        <td><input type="number" id="d8" name="d8" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 9</label></td>
        <td><input type="number" id="d9" name="d9" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 10</label></td>
        <td><input type="number" id="d10" name="d10" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 11</label></td>
        <td><input type="number" id="d11" name="d11" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 12</label></td>
        <td><input type="number" id="d12" name="d12" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 13</label></td>
        <td><input type="number" id="d13" name="d13" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 14</label></td>
        <td><input type="number" id="d14" name="d14" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 15</label></td>
        <td><input type="number" id="d15" name="d15" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 16</label></td>
        <td><input type="number" id="d16" name="d16" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 17</label></td>
        <td><input type="number" id="d17" name="d17" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 18</label></td>
        <td><input type="number" id="d18" name="d18" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 19</label></td>
        <td><input type="number" id="d19" name="d19" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 20</label></td>
        <td><input type="number" id="d20" name="d20" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 21</label></td>
        <td><input type="number" id="d21" name="d21" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 22</label></td>
        <td><input type="number" id="d22" name="d22" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 23</label></td>
        <td><input type="number" id="d23" name="d23" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 24</label></td>
        <td><input type="number" id="d24" name="d24" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 25</label></td>
        <td><input type="number" id="d25" name="d25" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 26</label></td>
        <td><input type="number" id="d26" name="d26" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 27</label></td>
        <td><input type="number" id="d27" name="d27" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 28</label></td>
        <td><input type="number" id="d28" name="d28" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 29</label></td>
        <td><input type="number" id="d29" name="d29" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 30</label></td>
        <td><input type="number" id="d30" name="d30" size="1" class="form-control" value="0"></td>
      </tr>
      <tr>
        <td align="center" for="String">Day 31</label></td>
        <td><input type="number" id="d31" name="d31" size="1" class="form-control" value="0"></td>
      </tr>
   
    <tr align="center">
      <TD><button type="submit" class="btn btn-primary btn-lg"  >Add</button></TD>
      <TD><button type="reset" class="btn btn-primary btn-lg">Clear All</button></TD>
    </tr>  
  </table>
  <br>
  <br>
  <br>
  <br>
</form>
{% endblock %}